.container {
    width: 90%;
    max-width: 50rem;
    padding: 2rem 2.5rem;
    margin: 3rem auto 6rem;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    background: #ffffff;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToHome {
    margin: 3rem 0 0;
  font-weight: 500;
}