@use "bootstrap" as *;
@use "variables" as *;

:root[data-theme="light"] {
  --background: #{$color-sky};
  --foreground: #{$color-mountain};
  --link-header: #{$color-earth};
  --nav-color: #{$color-skeleton};
  --link-color: #{$color-river};
  --hover-color: #{$color-forest};
  --logo-color: #{$color-earth};
  --card-hcolor: #{$color-earth};
}

:root[data-theme="dark"] {
  --background: #{$color-dungeon};
  --nav-color: #{$color-magic};
  --foreground: #{$color-skeleton};
  --link-header: #{$color-cave-moss};
  --link-color: #{$color-gold};
  --hover-color: #{$color-bless};
  --logo-color: #{$color-ouch};
  --card-hcolor: #{$color-sky};
}

/* Global Resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--link-header);
}
h2 {
  font-size: 26px;
  margin-top: 1em;
}
h3 {
  font-size: 20px;
  margin-top: .8em;
  color: var(--card-hcolor);
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--hover-color);
    text-decoration: underline;
  }

  &.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--logo-color);

    &:hover {
      color: var(--hover-color);
    }
  }
}

ul {
  li {
    list-style: none;
  }
}




