// Earth tones inspired by Might and Magic and Ultima
$color-forest: #196019;
$color-river: #12303d;
$color-mountain: #262525;
$color-earth: #342d25;
$color-sky: #87CEEB;
$color-magic: #441044;
$color-skeleton: #f8f9fa;
$color-gold: #b58d42;
$color-dungeon: #252525;
$color-ouch: #b04444;
$color-cave-moss: #438108;
$color-bless: #c0dc6a;


